{% if title %}
  <meta property="og:title" content="{{ title }}"/>
{% endif %}

{% if site_description %}
  <meta property="og:description" content="{{ description }}"/>
  <meta property="description" content="{{ description }}"/>
{% endif %}

{% if thumbnail %}
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="og:image" content="{{ thumbnail }}"/>
{% endif %}
